# Ejercicios Modulo 5. Bases de datos con SQLite (Soluciones)

Consideraciones a tener en cuenta: 

* Guardar este documento con el siguiente formato para su entrega: __M5_04_nombre_apellido1_apellido2__
* Realizar los ejercicios con las herramientas vistas en las sesiones. 
* Comentar el código
* Utilizar nombres de variables apropiados, si vais a guardar una nota, llamar a esa variable nota, no n o x

**1) Ejercicio guiado de SQLite. Analiza y prueba el siguiente código:**

In [26]:
import os
import sqlite3

# Definimos la ruta y nombre de la base de datos, por defecto, en el directorio actual
default_path_db = "almacen.db" 
   
''' Función encargada de la conexión a la base de datos '''
def db_connect(db_path = default_path_db):
    conexion = sqlite3.connect(db_path) # Conexión a la base de datos
    return conexion
 
''' Función encargada de crear las tablas de la BD '''
def db_create_tables():
    try:
        # Por claridad, podemos usar la triple comilla para definir el create en varias lineas
        cur.execute("""CREATE TABLE producto (
                              id_producto INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
                              descripcion TEXT NOT NULL,
                              precio REAL NOT NULL
                            )""")
        print(" > Tabla producto creada con éxito")                        
    except sqlite3.OperationalError:
        print(" > La tabla producto ya existe") 
        
    try:
        cur.execute("""CREATE TABLE cliente (
                              id_cliente INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
                              nombre TEXT NOT NULL,
                              apellido TEXT
                            )""")
        print(" > Tabla cliente creada con éxito")                        
    except sqlite3.OperationalError:
        print(" > La tabla cliente ya existe") 
        
    try:
        cur.execute("""CREATE TABLE pedido (
                              id_pedido INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
                              fecha TEXT NOT NULL,
                              id_cliente INTEGER,
                              FOREIGN KEY (id_cliente) REFERENCES cliente (id_cliente)
                            )""")
        print(" > Tabla pedido creada con éxito")                        
    except sqlite3.OperationalError:
        print(" > La tabla pedido ya existe") 
        
    try:
        cur.execute("""CREATE TABLE productos_del_pedido (
                              id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, 
                              id_producto INTEGER NOT NULL,
                              cantidad INTEGER NOT NULL,
                              id_pedido INTEGER NOT NULL,
                              FOREIGN KEY (id_producto) REFERENCES producto (id_producto),
                              FOREIGN KEY (id_pedido) REFERENCES pedido (id_pedido)
                            )""")
        print(" > Tabla productos_del_pedido creada con éxito")                        
    except sqlite3.OperationalError:
        print(" > La tabla productos_del_pedido ya existe") 
        
    con.commit() # Se actualizan los cambios pendientes en la BD

''' Función encargada de crear un registro en la tabla producto '''
def db_create_producto(descripcion, precio):
    # Al realizar el insert fijarse que el id no hay que añadirlo porque se definió como autoincremental
    sql = """
        INSERT INTO producto (descripcion, precio)
        VALUES (?, ?)"""
    cur.execute(sql, (descripcion, precio))
    return cur.lastrowid

''' Función encargada de crear un registro en la tabla cliente '''
def db_create_cliente(nombre, apellido):
    sql = """
        INSERT INTO cliente (nombre, apellido)
        VALUES (?, ?)"""
    cur.execute(sql, (nombre, apellido))
    return cur.lastrowid

''' Función encargada de crear un registro en la tabla pedido '''
def db_create_pedido(fecha, id_cliente):
    sql = """
        INSERT INTO pedido (fecha, id_cliente)
        VALUES (?, ?)"""
    cur.execute(sql, (fecha, id_cliente))
    return cur.lastrowid

''' Función encargada de crear un registro en la tabla pedido '''
def db_create_productos_del_pedido(id_producto, cantidad, id_pedido):
    sql = """
        INSERT INTO productos_del_pedido
            (id_producto, cantidad, id_pedido)
        VALUES (?, ?, ?)"""
    cur.execute(sql, (id_producto, cantidad, id_pedido))
    return cur.lastrowid
    
''' Función que resetea la base de datos eliminando sus tablas '''
def db_reset_database():
    cur.execute("DROP TABLE IF EXISTS producto")
    cur.execute("DROP TABLE IF EXISTS cliente")
    cur.execute("DROP TABLE IF EXISTS pedido")
    cur.execute("DROP TABLE IF EXISTS productos_del_pedido")
    con.commit() # Se actualizan los cambios pendientes en la BD
    print(" > Reset DB ... OK")
    
def db_select_all(nombre_tabla):
    print("\n=== REGISTROS DE LA TABLA", nombre_tabla.upper(), "===")
    cur.execute("SELECT * FROM {}".format(nombre_tabla))
    resultados = cur.fetchall()
    for registro in resultados:
        print(registro)
    

''' Función pricipal del programa '''
if __name__ == "__main__":
    
    con = db_connect() # Invocamos a la función que establece la conexión con la BD
    cur = con.cursor()  # Se crea el cursor para la BD
    
    db_reset_database() # Borramos las tablas de la base de datos antes de empezar
    db_create_tables() # Crear las tablas
    
    # En esta ocasión no vamos a insertar todos los datos de golpe
    # Vamos a crear un método para insertar cada registro de manera individual
    # Esta técnica es muy utilizada si la metodología estándar de inserción de datos es a través de formularios
    num = db_create_producto("Macbook Pro 13 pulgadas", 1200.00) # descripcion, precio
    db_create_producto("Dell Ultrasharp", 1500.00)
    db_create_producto("Iphone 5S", 900.50)
    db_create_producto("One Plus 6T", 499.00)
    db_create_producto("Applewatch", 399.70)
    
    db_create_cliente("Cristian", "Rodríguez") # nombre, apellido
    db_create_cliente("David", "Álvarez")
    db_create_cliente("Sara", "Campos")
    db_create_cliente("Lara", "Pérez")
    db_create_cliente("Sofía", "Rodríguez")
    
    db_create_pedido("2020-12-20", 1) # fecha, id_cliente
    db_create_pedido("2020-12-21", 2)
    db_create_pedido("2020-12-21", 3)
    db_create_pedido("2020-12-24", 1)
    db_create_pedido("2020-12-27", 5)
    db_create_pedido("2020-12-22", 3)
    
    db_create_productos_del_pedido(1, 2, 1) # id_producto, cantidad, id_pedido
    db_create_productos_del_pedido(2, 1, 1)
    db_create_productos_del_pedido(5, 3, 1)
    db_create_productos_del_pedido(1, 1, 2)
    db_create_productos_del_pedido(3, 1, 3)
    db_create_productos_del_pedido(4, 2, 3)
    db_create_productos_del_pedido(5, 5, 4)
    db_create_productos_del_pedido(1, 1, 5)
    db_create_productos_del_pedido(2, 1, 5)
    db_create_productos_del_pedido(3, 1, 5)
    db_create_productos_del_pedido(4, 1, 5)
    db_create_productos_del_pedido(5, 1, 5)
    
    # Hacemos unos selects generales para comprobar que los inserts se hayan realizado correctamente
    db_select_all("cliente")
    db_select_all("producto")
    db_select_all("pedido")
    db_select_all("productos_del_pedido")
    
    print("\n=== CONSULTA AVANZADA 1 ===")
    # Vamos a mezclar la tabla pedido y la tabla cliente, vamos a mostrar los pedidos y el nombre del cliente que los hizo
    cur.execute('''SELECT pedido.id_pedido,pedido.fecha,pedido.id_cliente,cliente.nombre 
                FROM pedido INNER JOIN cliente 
                ON pedido.id_cliente = cliente.id_cliente
                ''')
    resultados = cur.fetchall()
    for registro in resultados:
        print(registro)
        
    # Mejoremos el diseño de la salida por pantalla
    print("\n=== CONSULTA AVANZADA 1 (SALIDA POR PANTALLA MEJORADA) ===")
    cur.execute('''SELECT pedido.id_pedido,pedido.fecha,pedido.id_cliente,cliente.nombre 
                FROM pedido INNER JOIN cliente 
                ON pedido.id_cliente = cliente.id_cliente
                ''')
    titulo_id_pedido, titulo_fecha, titulo_id_cliente, titulo_nombre = "ID_PEDIDO", "FECHA", "ID_CLIENTE", "NOMBRE"
    print(f"{titulo_id_pedido:<12}{titulo_fecha:<15}{titulo_id_cliente:<12}{titulo_nombre:<10}")
    for id_pedido, fecha, id_cliente, nombre in cur.fetchall():
        print(f"{id_pedido:<12}{fecha:<15}{id_cliente:<12}{nombre:<10}")
    
        
    # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 
    # ZONA DE EXPERIMENTACIÓN                                                                                   #
    # Una vez llegado aquí, realiza alguna consulta más, tenemos una tabla de pedido y una tabla de pedidos y   #
    # una tabla que contiene los productos de cada pedido. Estas dos tablas estan relacionadas, se puede sacar  #
    # información del inner join de ambas.                                                                      #
    # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 
    
    
    print("Los clientes con mas de un pedido son:")
    cur.execute("SELECT id_cliente FROM pedido GROUP BY id_cliente HAVING COUNT(*)>1")
    idCliente_pedidos = cur.fetchall()
    for i in idCliente_pedidos:
        cur.execute("SELECT nombre, apellido FROM cliente WHERE id_cliente = {}".format(i[0]))
        cliente = cur.fetchall()
        nombre = cliente[0][0]
        apellido = cliente[0][1]
        print("---> {} {}".format(nombre, apellido))
            
    
    
    try:
        con.commit() # Se actualizan los cambios pendientes en la BD
        con.close() # Se cierra la conexión
    except:
        con.rollback() # rollback devuelve la bd al último commit
        raise RuntimeError("Ha ocurrido un error ... Volviendo al commit anterior ... ")

 > Reset DB ... OK
 > Tabla producto creada con éxito
 > Tabla cliente creada con éxito
 > Tabla pedido creada con éxito
 > Tabla productos_del_pedido creada con éxito

=== REGISTROS DE LA TABLA CLIENTE ===
(1, 'Cristian', 'Rodríguez')
(2, 'David', 'Álvarez')
(3, 'Sara', 'Campos')
(4, 'Lara', 'Pérez')
(5, 'Sofía', 'Rodríguez')

=== REGISTROS DE LA TABLA PRODUCTO ===
(1, 'Macbook Pro 13 pulgadas', 1200.0)
(2, 'Dell Ultrasharp', 1500.0)
(3, 'Iphone 5S', 900.5)
(4, 'One Plus 6T', 499.0)
(5, 'Applewatch', 399.7)

=== REGISTROS DE LA TABLA PEDIDO ===
(1, '2020-12-20', 1)
(2, '2020-12-21', 2)
(3, '2020-12-21', 3)
(4, '2020-12-24', 1)
(5, '2020-12-27', 5)
(6, '2020-12-22', 3)

=== REGISTROS DE LA TABLA PRODUCTOS_DEL_PEDIDO ===
(1, 1, 2, 1)
(2, 2, 1, 1)
(3, 5, 3, 1)
(4, 1, 1, 2)
(5, 3, 1, 3)
(6, 4, 2, 3)
(7, 5, 5, 4)
(8, 1, 1, 5)
(9, 2, 1, 5)
(10, 3, 1, 5)
(11, 4, 1, 5)
(12, 5, 1, 5)

=== CONSULTA AVANZADA 1 ===
(1, '2020-12-20', 1, 'Cristian')
(2, '2020-12-21', 2, 'David')
(3, '2020-12-21', 3, 'Sara')
(4, '2020-12-24', 1, 'Cristian')
(5, '2020-12-27', 5, 'Sofía')
(6, '2020-12-22', 3, 'Sara')

=== CONSULTA AVANZADA 1 (SALIDA POR PANTALLA MEJORADA) ===
ID_PEDIDO   FECHA          ID_CLIENTE  NOMBRE
1           2020-12-20     1           Cristian
2           2020-12-21     2           David
3           2020-12-21     3           Sara
4           2020-12-24     1           Cristian
5           2020-12-27     5           Sofía
6           2020-12-22     3           Sara
Los clientes con mas de un pedido son:
[(1,), (3,)]
---> Cristian Rodríguez
---> Sara Campos

**1) Practiquemos un poco con SQLite:**

* Crea una base de datos que se llame biblioteca
* Crea las siguiente tablas (deberás poner los tipos de los atributos con lógica, investiga cuales hay en SQLite para poder hacerlo):
    * autor(dni, nombre, apellidos, estarVivo)
    * libro(isbn, titulo, editorial, año_escrito)
    * usuario(dni, nombre, apellidos, numPrestamos)
* Inserta al menos 3 registros en cada una de las tablas
    * En autor, algunos vivos y otros muertos
    * En libro, algunos con año de escritura anerior a 1900 y otros después
    * En usuario, algunos con más de 10 prestamos y otros con menos
* Comprueba que todo este correcto con DB Browser (SQLite)
* Realiza las siguientes consultas:
    * Lista a todos los autores
    * Lista todos los libros
    * Lista todos los usuarios
    * Lista todos los autores que esten vivos (CLAUSULA WHERE)
    * Lista todos los libros que hayan sido escritos posteriormente a 1900
    * Lista todos los usuarios que se hayan llevado más de 10 libros y que se llamen Paco

In [10]:
import os
import sqlite3

# Creamos la ruta de la base de datos, por defecto, el directorio actual
database_path = "biblioteca.db"

# Se escribe todo en español para diferenciar con las funciones anteriores
'''Función que se encarga de la conexion con la base de datos'''
def db_conexion(db_path = database_path):
    conexion = sqlite3.connect(db_path)
    return conexion

'''Función encargada de crear las tablas'''
def db_crear_tablas():
    
    try:
        cursor.execute("""CREATE TABLE autor(
        dni VARCHAR(9) NOT NULL,
        nombre VARCHAR(100) NOT NULL,
        apellidos VARCHAR(100), 
        estarVivo BOOL)""")
        print(" > Tabla autor creada con éxito")
        
    except sqlite3.OperationalError:
        print(" > La tabla autor ya existe") 
    
    try:
        cursor.execute("""CREATE TABLE libro(
        isbn INT NOT NULL,
        titulo VARCHAR(100) NOT NULL,
        editorial VARCHAR(100) NOT NULL,
        ano_escrito INT NOT NULL)""")
        print(" > Tabla libro creada con éxito")
    
    except sqlite3.OperationalError:
        print(" > La tabla libro ya existe")
        
    try:
        cursor.execute("""CREATE TABLE usuario(
        id_ususario INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, 
        dni VARCHAR(9) NOT NULL,
        nombre VARCHAR(100) NOT NULL,
        apellidos VARCHAR(100) NOT NULL,
        numPrestamos INTEGER)""")
        print(" > Tabla usuario creada con éxito")
        
    except sqlite3.OperationalError:
        print(" > La tabla usuario ya existe")

    conx.commit()

'''Función para crear registros en la tabla AUTOR, monoregistro o multiregistro'''
def db_crear_monoautor(dni, nombre, apellidos, estarVivo):
    sentenciasql = "INSERT INTO autor (dni, nombre, apellidos, estarVivo) VALUES (?, ?, ?, ?)"
    cursor.execute(sentenciasql, (dni, nombre, apellidos, estarVivo))
    print(" > Registro de AUTOR completado")
    return cursor.lastrowid

def db_crear_multiautor(lista_autores):
    sentenciasql = "INSERT INTO autor (dni, nombre, apellidos, estarVivo) VALUES (?, ?, ?, ?)"
    cursor.executemany(sentenciasql, lista_autores)
    print(" > Registro multiple de AUTORES completado")
    return cursor.lastrowid

'''Función para crear registros en la tabla LIBRO, monoregistro o multiregistro'''
def db_crear_monolibro(isbn, titulo, editorial, ano_escrito):
    sentenciasql = "INSERT INTO libro (isbn, titulo, editorial, ano_escrito) VALUES (?, ?, ?, ?)"
    cursor.execute(sentenciasql, (isbn, titulo, editorial, ano_escrito))
    print(">Registro de LIBRO completado")
    return cursor.lastrowid

def db_crear_multilibro(lista_libros):
    sentenciasql = "INSERT INTO libro (isbn, titulo, editorial, ano_escrito) VALUES (?, ?, ?, ?)"
    cursor.executemany(sentenciasql, lista_libros)
    print(" > Registro multiple de LIBROS completado")
    return cursor.lastrowid

'''Función para crear registro en la tabla USUARIO, monoregistro o multiregistro'''
def db_crear_monousuario(dni, nombre, apellidos, numPrestamos):
    sentenciasql = "INSERT INTO usuario(dni, nombre, apellidos, numPrestamos) VALUES (?, ?, ?, ?)"
    cursor.execute(sentenciasql, (dni, nombre, apellidos, numPrestamos))
    print(" > Registro de USUARIO completado")
    return cursor.lastrowid

def db_crear_multiusuario(lista_usuarios):
    sentenciasql = "INSERT INTO usuario(dni, nombre, apellidos, numPrestamos) VALUES (?, ?, ?, ?)"
    cursor.executemany(sentenciasql, lista_usuarios)
    print(" > Registro multiple de USUARIOS completado")
    return cursor.lastrowid

'''Función de reseteo de la base de datos'''
def db_reseteo():
    cursor.execute("DROP TABLE IF EXISTS autor")
    cursor.execute("DROP TABLE IF EXISTS libro")
    cursor.execute("DROP TABLE IF EXISTS usuario")
    conx.commit() # Se actualiza la BD a reseteado
    print(" > Reseteando DB ... OK")
    
'''Función de muestra de registros de talas creadas'''
def db_mostrar_registros(tabla_escogida):
    print("\n=== Registros de la tabla", tabla_escogida.upper(), "===")
    cursor.execute("SELECT * FROM {}".format(tabla_escogida))
    registros = cursor.fetchall()
    for contenido in registros:
        print(contenido)

        
        
if __name__ == "__main__":
    
    conx = db_conexion()
    cursor = conx.cursor()
     
    db_reseteo()      # Limpiamos
    db_crear_tablas() # Creamos las tablas
    
    # Vamos a introducir los registros de las dos maneras que he creado
    # Primero registro a registro
    
    db_crear_monoautor("26539875L", "Jose Miguel", "Puente Lozano", True) # dni, nombre, apellidos, estarVivo
    db_crear_monoautor("30659874G", "Rosa", "Laguna Sucia", False)
    db_crear_monoautor("00963014D", "Miguel", "de Unamuno", True)
    db_crear_monoautor("18502693T", "Carmen", "Laredo Montoya", True)
    db_crear_monoautor("48082650H", "Yasmin", "Ahmedi Tulki", True)
    db_crear_monoautor("78963658O", "Karl", "Marx Korvochov", False)
    
    db_crear_monolibro(2698548632, "La gran poesia isleña", "MapaMundi", 1995) # isbn, titulo, editorial, año_escrito
    db_crear_monolibro(9647823145, "Las reglas de la trigonometria", "MapaMundi", 1780)
    db_crear_monolibro(2656914141, "Relatos de Cristobal Colón", "Esfera", 1500)
    db_crear_monolibro(4852033365, "El manifiesto comunista", "Korgorov", 1884)
    db_crear_monolibro(8005974856, "La vida de las llamas", "Natura", 2015)
    db_crear_monolibro(3032314563, "Minas olvidadas", "Natura", 2000)
    
    db_crear_monousuario("26456865P", "Roberto", "Luis Hernandez", 9) # dni, nombre, apellidos, numPrestamos
    db_crear_monousuario("77779874G", "Claudia", "Pomeda Bolte", 11)
    db_crear_monousuario("09963014D", "Miguel", "Blanco Masia", 3)
    db_crear_monousuario("18506333T", "Paco", "Porras Lomeda", 26)
    db_crear_monousuario("48088990H", "Yasmin", "Alito Raro", 8)
    db_crear_monousuario("55596365O", "Karl", "Marx Korvochov", 30)
    
    db_mostrar_registros("autor")
    db_mostrar_registros("libro")
    db_mostrar_registros("usuario")
    
    # Segundo mediante listas y de manera conjunta
    db_reseteo()      # Limpiamos
    db_crear_tablas() # Creamos las tablas
    
    lista_autores = [("26539875L", "Jose Miguel", "Puente Lozano", True),
                     ("30659874G", "Rosa", "Laguna Sucia", False), 
                     ("00963014D", "Miguel", "de Unamuno", False), 
                     ("18502693T", "Carmen", "Laredo Montoya", True), 
                     ("48082650H", "Yasmin", "Ahmedi Tulki", True), 
                     ("78963658O", "Karl", "Marx Korvochov", False)]
    db_crear_multiautor(lista_autores)
    
    lista_libros = [(2698548632, "La gran poesia isleña", "MapaMundi", 1995), 
                    (9647823145, "Las reglas de la trigonometria", "MapaMundi", 1780), 
                    (2656914141, "Relatos de Cristobal Colón", "Esfera", 1500), 
                    (4852033365, "El manifiesto comunista", "Korgorov", 1884), 
                    (8005974856, "La vida de las llamas", "Natura", 2015), 
                    (3032314563, "Minas olvidadas", "Natura", 2000)]
    db_crear_multilibro(lista_libros)
    
    lista_usuarios = [("26456865P", "Roberto", "Luis Hernandez", 9), 
                      ("77779874G", "Paco", "Pomeda Bolte", 11), 
                      ("09963014D", "Miguel", "Blanco Masia", 3), 
                      ("18506333T", "Paco", "Porras Lomeda", 26), 
                      ("48088990H", "Yasmin", "Alito Raro", 8),
                     ("55596365O", "Karl", "Marx Korvochov", 30)]
    db_crear_multiusuario(lista_usuarios)
    
    db_mostrar_registros("autor")
    db_mostrar_registros("libro")
    db_mostrar_registros("usuario")
    
    
    # Mostramos autores que ESTEN VIVOS
    cursor.execute("SELECT * FROM autor WHERE (estarVivo = True)")
    elegidosVivientes = cursor.fetchall()
    print("\n== AUTORES VIVOS ==")
    for i in elegidosVivientes:
        print(i[1], i[2])
    
    # Los libros escritos despues de 1900
    cursor.execute("SELECT * FROM libro WHERE (ano_escrito > 1900)")
    librosJovencitos = cursor.fetchall()
    print("\n== LIBROS ESCRITOS TRAS 1900 ==")
    for i in librosJovencitos:
        print("{} escrito en el año {}".format(i[1], i[3]))
        
     # Los ususarios llamados PACO y que tengan mas de 10 libros prestados
    cursor.execute("SELECT * FROM usuario WHERE (nombre == 'Paco' AND numPrestamos > 10) ")
    pacosLeedores = cursor.fetchall()
    print("\n== PACOS CON MÁS DE 10 LIBROS EN CASA ==")
    contador = 0
    for i in pacosLeedores:
        contador += 1
    print("El número de ususarios con esas caracteristicas es de:", contador)
    
    
    conx.commit() # Actualizamos la DB
    conx.close()  # Cerramos la conexion con la DB

 > Reseteando DB ... OK
 > Tabla autor creada con éxito
 > Tabla libro creada con éxito
 > Tabla usuario creada con éxito
 > Registro de AUTOR completado
 > Registro de AUTOR completado
 > Registro de AUTOR completado
 > Registro de AUTOR completado
 > Registro de AUTOR completado
 > Registro de AUTOR completado
>Registro de LIBRO completado
>Registro de LIBRO completado
>Registro de LIBRO completado
>Registro de LIBRO completado
>Registro de LIBRO completado
>Registro de LIBRO completado
 > Registro de USUARIO completado
 > Registro de USUARIO completado
 > Registro de USUARIO completado
 > Registro de USUARIO completado
 > Registro de USUARIO completado
 > Registro de USUARIO completado

=== Registros de la tabla AUTOR ===
('26539875L', 'Jose Miguel', 'Puente Lozano', 1)
('30659874G', 'Rosa', 'Laguna Sucia', 0)
('00963014D', 'Miguel', 'de Unamuno', 1)
('18502693T', 'Carmen', 'Laredo Montoya', 1)
('48082650H', 'Yasmin', 'Ahmedi Tulki', 1)
('78963658O', 'Karl', 'Marx Korvochov', 0)

=== Registros de la tabla LIBRO ===
(2698548632, 'La gran poesia isleña', 'MapaMundi', 1995)
(9647823145, 'Las reglas de la trigonometria', 'MapaMundi', 1780)
(2656914141, 'Relatos de Cristobal Colón', 'Esfera', 1500)
(4852033365, 'El manifiesto comunista', 'Korgorov', 1884)
(8005974856, 'La vida de las llamas', 'Natura', 2015)
(3032314563, 'Minas olvidadas', 'Natura', 2000)

=== Registros de la tabla USUARIO ===
(1, '26456865P', 'Roberto', 'Luis Hernandez', 9)
(2, '77779874G', 'Claudia', 'Pomeda Bolte', 11)
(3, '09963014D', 'Miguel', 'Blanco Masia', 3)
(4, '18506333T', 'Paco', 'Porras Lomeda', 26)
(5, '48088990H', 'Yasmin', 'Alito Raro', 8)
(6, '55596365O', 'Karl', 'Marx Korvochov', 30)
 > Reseteando DB ... OK
 > Tabla autor creada con éxito
 > Tabla libro creada con éxito
 > Tabla usuario creada con éxito
 > Registro multiple de AUTORES completado
 > Registro multiple de LIBROS completado
 > Registro multiple de USUARIOS completado

=== Registros de la tabla AUTOR ===
('26539875L', 'Jose Miguel', 'Puente Lozano', 1)
('30659874G', 'Rosa', 'Laguna Sucia', 0)
('00963014D', 'Miguel', 'de Unamuno', 0)
('18502693T', 'Carmen', 'Laredo Montoya', 1)
('48082650H', 'Yasmin', 'Ahmedi Tulki', 1)
('78963658O', 'Karl', 'Marx Korvochov', 0)

=== Registros de la tabla LIBRO ===
(2698548632, 'La gran poesia isleña', 'MapaMundi', 1995)
(9647823145, 'Las reglas de la trigonometria', 'MapaMundi', 1780)
(2656914141, 'Relatos de Cristobal Colón', 'Esfera', 1500)
(4852033365, 'El manifiesto comunista', 'Korgorov', 1884)
(8005974856, 'La vida de las llamas', 'Natura', 2015)
(3032314563, 'Minas olvidadas', 'Natura', 2000)

=== Registros de la tabla USUARIO ===
(1, '26456865P', 'Roberto', 'Luis Hernandez', 9)
(2, '77779874G', 'Paco', 'Pomeda Bolte', 11)
(3, '09963014D', 'Miguel', 'Blanco Masia', 3)
(4, '18506333T', 'Paco', 'Porras Lomeda', 26)
(5, '48088990H', 'Yasmin', 'Alito Raro', 8)
(6, '55596365O', 'Karl', 'Marx Korvochov', 30)

== AUTORES VIVOS ==
Jose Miguel Puente Lozano
Carmen Laredo Montoya
Yasmin Ahmedi Tulki

== LIBROS ESCRITOS TRAS 1900 ==
La gran poesia isleña escrito en el año 1995
La vida de las llamas escrito en el año 2015
Minas olvidadas escrito en el año 2000

== PACOS CONMAS DE 10 LIBROS EN CASA ==
El número de ususarios con esas caracteristicas es de: 2